<h2>{{ 'pointOfDeliveryView.title' | message }}</h2>

<section class="openlmis-table-container">
    <table>
        <caption ng-if="!dataObject">
            {{pointOfDeliveryView.title}}
        </caption>
        <thead>
            <tr>
                <th>{{'pointOfDeliveryView.facility' | message}}</th>
                <th>{{'pointOfDeliveryView.referenceNo' | message}}</th>
                <th>{{'pointOfDeliveryView.packingDate' | message}}</th>
                <th>{{'pointOfDeliveryView.packedBy' | message}}</th>
				<th>{{'pointOfDeliveryView.numberOfCartons' | message}}</th>
				<th>{{'pointOfDeliveryView.numberOfContainers' | message}}</th>
                <th>{{'pointOfDeliveryView.receivedBy' | message}}</th>
                <th>{{'pointOfDeliveryView.remarks' | message}}</th>
                <th class="col-sticky sticky-right">{{'pointOfDeliveryView.receivedDate' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in dataObject">
                <td>{{item.sourceId}}</td>
                <td>{{item.referenceNumber}}</td>
                <td>{{item.packingDate}}</td>
                <td>{{item.packedBy}}</td>
                <td>{{item.numberOfCartons}}</td>
                <td>{{item.numberOfContainers}}</td>
                <td>{{item.receivedBy}}</td>
                <td>{{item.remarks}}</td>
                <td>{{item.receivingDate}}</td>
            </tr>
        </tbody>
    </table>
</section>

