<h2>{{'pointOfDeliveryView.deliveriesAt' | message: {'facility':  vm.receivingFacility} }}</h2>

<section class="openlmis-table-container">
    <table>
        <caption ng-if="!PODEvents">
            {{pointOfDeliveryView.title}}
        </caption>
        <thead>
            <tr>
                <th>{{'pointOfDeliveryView.facility' | message}}</th>
                <th>{{'pointOfDeliveryView.referenceNo' | message}}</th>
                <th>{{'pointOfDeliveryView.packingDate' | message}}</th>
                <th>{{'pointOfDeliveryView.packedBy' | message}}</th>
				<th>{{'pointOfDeliveryView.numberOfCartons' | message}}</th>
				<th>{{'pointOfDeliveryView.numberOfContainers' | message}}</th>
                <th>{{'pointOfDeliveryView.receivedBy' | message}}</th>
                <th>{{'pointOfDeliveryView.remarks' | message}}</th>
                <th class="col-sticky sticky-right">{{'pointOfDeliveryView.receivedDate' | message}}</th>
                <th>{{'pointOfDeliveryView.discrepancies' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in PODEvents">
                <td>{{item.sourceName}}</td>
                <td>{{item.referenceNumber}}</td>
                <td>{{item.packingDate | openlmisDate}}</td>
                <td>{{item.packedBy}}</td>
                <td>{{item.numberOfCartons}}</td>
                <td>{{item.numberOfContainers}}</td>
                <td>{{formatPODrecievedBy(item.receivedByUserNames)}}</td>
                <td>{{item.remarks}}</td>
                <td>{{item.receivingDate | openlmisDate}}</td>
                <td ng-if="vm.hasDiscrepancies('item.referenceNumber')" ><button class="primary"  ng-click="vm.viewDiscrepancies()">{{'pointOfDeliveryView.discrepancies' | message}}</button></td>
                <td ng-if="!vm.hasDiscrepancies()" >{{'pointOfDeliveryView.noDiscrepancies' | message}}</td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>

