<header>
    <h2>{{'requisitionRedistribution.reportAndRequisitionFor' | message}} {{vm.program.name}} ({{vm.facility.type.name}})</h2>
    <button ng-disabled="vm.isOffline()" ng-click="vm.syncRnrAndPrint()" class="primary">{{'requisitionRedistribution.print' | message}}</button>
</header>
<p class="alert is-error" ng-if="vm.requisition.$outdated">
    {{ 'requisitionRedistribution.outdated' | message}}
    <button ng-click="vm.updateRequisition();">{{ 'requisitionRedistribution.update' | message }}</button>
</p>
<ng-include src="'requisition-view/header.html'"></ng-include>
<status-messages requisition="vm.requisition"></status-messages>

<div>
    
    <section class="openlmis-table-container">
        <table suppress-tr-openlmis-invalid>
            <thead>
                <tr>
                    <th>Prodcut Code</th>
                    <th>Product</th>
                    <th>Requested Quantity</th>
                    <th>Requested Quantity Explanation</th>
                    <th>Approved Quantity</th>
                    <th>Supplying Facility</th>
                    <th>Quantity to Issue</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>  
                <tr ng-repeat="item in vm.requisitionLineItems">
                    <td>{{item.orderable.productCode}}</td>
                    <td>{{item.orderable.fullProductName}}</td>
                    <td>{{item.requestedQuantity}}</td>
                    <td>{{item.requestedQuantityExplanation}}</td>
                    <td>{{item.approvedQuantity}}</td>
                    <td><input id="supplyingFacility" type="text" maxlength="50" required/></td>
                    <td><input type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 60px;" ng-model="vm.discrepancy.cartons.quantityRejected"></td>
                    <td><input id="remarks" type="text" maxlength="50" required/></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>  

<ng-include src="'requisition-view/requisition-toolbar.html'"></ng-include>

