<div class="modal add-products-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 700px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{'dispensingPatientVitalsModal.title' | message}}
        </h4>
      </div>

      <div class="modal-body">
<!-- ///////////////////////////////////////////// -->
        <aside class="stock-card-info" style="border: 2px solid black;">
          <div class="product-name-header">
            <span>{{vm.patient.personDto.firstName}} {{vm.patient.personDto.lastName}}</span>
          </div>
          <ul>
            <li>
              <strong>Sex</strong>
              {{vm.patient.personDto.sex}}
            </li>
            <li>
              <strong>Age</strong>
              {{vm.age}}
            </li>
          </ul>
        </aside>

        <fieldset class="form-group">
          <p>.</p>
        </fieldset>
        
        <form name="newPatientForm4" class="content" ng-submit="vm.submitPatientData()">
          <div class="row">
            <div class="col-sm-6">
              <fieldset class="form-group">
                  <label for="nextOfKinNames">{{'dispensingPatientVitalsModal.height' | message}}</label>
                  <input id="nextOfKinNames" ng-model="vm.vitals.height" type="text" />
              </fieldset>
              <fieldset class="form-group">
                  <label for="nextOfKinContact">{{'dispensingPatientVitalsModal.weight' | message}}</label>
                  <input id="nextOfKinContact" ng-model="vm.vitals.weight" type="text" />
              </fieldset>
              <fieldset class="form-group">
                  <label for="tbStatus">{{'dispensingPatientVitalsModal.tbStatus' | message}}</label>
                  <select id="tbStatus" ng-model="vm.vitals.tbStatus"
                      ng-options="option for option in  vm.tbStatusOptions"></select>
              </fieldset>
            </div>
            <div class="col-sm-6">
              <fieldset class="form-group">
                  <label for="nextOfKinNames">{{'dispensingPatientVitalsModal.systolic' | message}}</label>
                  <input id="nextOfKinNames" ng-model="vm.vitals.systolic" type="text" />
              </fieldset>
              <fieldset class="form-group">
                  <label for="nextOfKinContact">{{'dispensingPatientVitalsModal.diastolic' | message}}</label>
                  <input id="nextOfKinContact" ng-model="vm.vitals.diastolic" type="text" />
              </fieldset>
              <fieldset class="form-group">
                  <label for="nextOfKinNames">{{'dispensingPatientVitalsModal.muac' | message}}</label>
                  <input id="nextOfKinNames" ng-model="vm.vitals.muac" type="text" />
              </fieldset>
            </div>
          </div>
        </form>
<!-- /////////////////////////////////////////////////////////// -->
      </div>

      <div>
        <fieldset class="form-group">
          <p>.</p>
        </fieldset>
      </div>

      <div class="modal-footer">
        <button ng-click="$hide()">{{'dispensingPatientVitalsModal.cancel' | message}}</button>
        <button ng-click="vm.confirm()" class="primary">
          {{'dispensingPatientVitalsModal.save' | message}}
        </button>
      </div>

    </div>
  </div>
</div>