<header>
    <h2>{{'requisitionView.reportAndRequisitionFor' | message}} {{vm.program.name}} ({{vm.facility.type.name}})</h2>
    <button ng-disabled="vm.isOffline()" ng-click="vm.syncRnrAndPrint()" class="primary">{{'requisitionView.print' | message}}</button>
</header>
<p class="alert is-error" ng-if="vm.requisition.$outdated">
    {{ 'requisitionView.outdated' | message}}
    <button ng-click="vm.updateRequisition();">{{ 'requisitionView.update' | message }}</button>
</p>
<ng-include src="'requisition-view/header.html'"></ng-include>
<status-messages requisition="vm.requisition"></status-messages>

<div ng-if="vm.requisition.emergency"> <!--&& requisition.$isInApproval()  && vm.requisition.isInApproval-->
    <span>
        <input type="checkbox" ng-model="facilityPanel" id="redistributionRadio">
        <label for="redistributionRadio">Mark for redistribution</label>
    </span>
    <span ng-if="facilityPanel">
        <fieldset class="form-group">
            <label for="supplyingFacilities">Supplying Facility</label>
            <select id="supplyingFacilities"
                    ng-model="vm.supplyingFacilities"
                    ng-required="!vm.requestingFacility"
                    ng-options="facility.name for facility in vm.supplyingFacilities | orderBy:'name'"></select>
        </fieldset>
    </span>
</div>

<nav>
    <ul>
        <li ui-sref-active="active" role="presentation"
            ng-class="{'is-invalid': !vm.isFullSupplyTabValid()}"
            openlmis-popover="{{vm.invalidFullSupply}}">
            <a ui-sref="openlmis.requisitions.requisition.fullSupply">
                {{'requisitionView.fullSupplyProducts' | message}}
            </a>
        </li>
        <li ui-sref-active="active" ng-if="vm.program.showNonFullSupplyTab"
            role="presentation" ng-class="{'is-invalid': !vm.isNonFullSupplyTabValid()}"
            openlmis-popover="{{vm.invalidNonFullSupply}}">
            <a ui-sref="openlmis.requisitions.requisition.nonFullSupply">
                {{'requisitionView.nonFullSupplyProducts' | message}}
            </a>
        </li>
    </ul>
</nav>
<div ui-view=""></div>
<requisition-summary requisition="vm.requisition"></requisition-summary>
<ng-include src="'requisition-view/requisition-toolbar.html'"></ng-include>
