<h2>{{'dispensingPrescriptionForm.title' | message}}</h2>

<aside class="stock-card-info">
    <div class="product-name-header">
      <span>{{vm.patient.personDto.firstName}} {{vm.patient.personDto.firstName}}</span>
    </div>
  
    <ul>
      <li>
        <strong>Sex</strong>
        {{vm.patient.personDto.sex}}
      </li>
      <li>
        <strong>Age</strong>
        {{vm.age}}
      </li>
      <li>
        <strong>Height</strong>
        {{vm.patient.height}}
      </li>
      <li align="right">
        <strong>Weight</strong>
        {{vm.patient.weight}}
      </li>
      <li ng-if="vm.stockCard.lot">
        <strong>BMI</strong>
        {{patient.BMI}}
      </li>
      <li ng-if="vm.stockCard.lot">
        <strong>BMI Status</strong>
        {{vm.patient.BMIStatus}}
      </li>
      <li>
        <strong>TB Status</strong>
        {{vm.patient.TBStatus}}
      </li>
      <li>
        <strong>BP</strong>
        {{vm.patient.BP}}
      </li>
      <li>
        <strong>Medical History</strong>
        <button ng-click="vm.getMedicalHistory()">View</button>
      </li>
      <li>
        <strong>Prescription Status</strong>
        {{vm.prescription.status}}
      </li>
    </ul>
</aside>

<form class="sidebar" ng-submit="vm.createPrescrition()">

    <!-- <fieldset class="form-group">
        <label for="status">Status</label>
        <input class="form-control" type="text" ng-model="vm.prescriptionDetails.status" disabled>
    </fieldset> -->
    
    <fieldset class="form-group">
        <label for="createdDate">Created date</label>
        <input id="createdDate" type="date" style="width: 90px;" ng-model="vm.prescriptionDetails.createdDate"
            max-date="vm.maxDate" required inputmode="none" ng-disabled="vm.inPrescriptionServe"/>
    </fieldset>

    <fieldset ng-if="vm.inPrescriptionServe" class="form-group">
        <label for="nationalID">Dispensing date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate3"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none" ng-disabled="vm.inPrescriptionServe"/>
    </fieldset>

    <fieldset class="form-group">
        <label for="followUpDate">Follow up date</label>
        <input id="followUpDate" type="date" style="width: 90px;" ng-model="vm.prescriptionDetails.followUpDate"
            max-date="vm.maxDate" required inputmode="none" ng-disabled="vm.inPrescriptionServe" />
    </fieldset>

    <fieldset class="form-group">
        <legend>Patient type</legend>
        <label class="radio">
            <input type="radio" ng-model="vm.prescriptionDetails.patientType" ng-value="true" required ng-disabled="vm.inPrescriptionServe"/>
            In Patient
        </label>
        <label class="radio">
            <input type="radio" ng-model="vm.prescriptionDetails.patientType" ng-value="false" required ng-disabled="vm.inPrescriptionServe"/>
            Out Patient
        </label>
    </fieldset>
    


    <!-- <fieldset class="form-group">
        <label for="nickName">Captured date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset> -->

    <!-- <fieldset class="form-group">
        <label>
            <input type="checkbox" ng-model="vm.Prescription.allowNotify"/>
            Voided
        </label>
    </fieldset> -->
</form>

<!-- <section id="newPrescriptionForm"> -->
<section class="openlmis-table-container">
    <section class="is-primary">
        <!-- <form ng-if="!vm.inPrescriptionServe" class="form-inline" name="productForm" ng-submit="vm.addProduct()">
            <div>
                <label for="productSelect">Product</label>
                <select id="productSelect" ng-model="vm.selectedProduct" 
                ng-options="product.orderable.fullProductName for product in vm.Products"
            required></select>
            </div>
            <button type="submit" class="add">Add Product</button>
        </form> -->
        <form class="form-inline" ng-submit="vm.addProduct()" name="productForm">
            <div>
                <label for="productSelect">Product</label>
                <select id="productSelect" ng-model="vm.selectedOrderableGroup"
                    ng-options="orderableGroup[0].orderable.fullProductName for orderableGroup in vm.orderableGroups"
                    ng-change="vm.orderableSelectionChanged()"
                    required>
                </select>
            </div>
            <div ng-if="vm.selectedOrderableHasLots">
                <label for="lotSelect">{{'stockAddProductsModal.lotCode' | message}}</label>
                <select id="lotSelect" ng-model="vm.selectedLot"
                    ng-options="lot.lotCode for lot in vm.lots"
                    ng-change="vm.lotChanged()"
                    required>
                </select>
            </div>
            <div ng-if="vm.hasPermissionToAddNewLot && vm.canAddNewLot">
                <label for="lotCode">{{'stockAddProductsModal.newLotCode' | message}}</label>
                <input id="lotCode" type="text" ng-model="vm.newLot.lotCode"
                ng-change="vm.newLotCodeChanged()"
                openlmis-invalid="{{vm.newLot.lotCodeInvalid | message}}"
                required>
                <label for="expirationDate">{{'stockAddProductsModal.newLotExpirationDate' | message}}</label>
                <input id="expirationDate" type="date" ng-model="vm.newLot.expirationDate"
                ng-change="vm.expirationDateChanged()" 
                openlmis-invalid="{{vm.newLot.expirationDateInvalid | message}}"/>
            </div>
            <button type="submit" class="add">Add</button>
        </form>
    </section>
    <table suppress-tr-openlmis-invalid>
        <thead>
            <tr>
                <th>{{'dispensingPrescriptionForm.prescribedProduct' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.substituteProduct' | message}}</th>
                <th>{{'dispensingPrescriptionForm.batchNumber' | message}}</th>
                <th>{{'dispensingPrescriptionForm.expiryDate' | message}}</th>
                <th>{{'dispensingPrescriptionForm.soh' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.dose' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.doseUnits' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.frequency' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.route' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.duration' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.durationUnits' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.instructions' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.additionalInstructions' | message}}</th> 
                <th>{{'dispensingPrescriptionForm.quantityPrescribed' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.quantityDispensed' | message}}</th>
                <th ng-if="vm.inPrescriptionServe">{{'dispensingPrescriptionForm.servedInternally' | message}}</th>
                <th>{{'dispensingPrescriptionForm.comments' | message}}</th>
                <th>{{'dispensingPrescriptionForm.action' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lineItem in vm.prescriptionDetails">
            
                <td>{{lineItem.orderablePrescribedName}}</td>
                <td ng-if="vm.inPrescriptionServe"><select id="substituteProduct" ng-model="vm.selectedSubstituteProduct" 
                    ng-options="orderableGroup[0].orderable.fullProductName for orderableGroup in vm.orderableGroups"
                    ng-disabled="!vm.substituteProduct"></select></td>
                <td>{{lineItem.batchNumber}}</td>
                <td>{{lineItem.expiryDate}}</td>
                <td>{{lineItem.soh}}</td>
                <td ng-if="vm.inPrescriptionServe"><input ng-model="lineItem.Dispense.dose" class="form-control" type="number" min="0" step="1"
                        oninput="validity.valid||(value='');" required></td>

               <td ng-if="vm.inPrescriptionServe"><select id="dispensingUnit" ng-model="lineItem.Dispense.doseUnit" ng-options="unit for unit in vm.dispensingUnits"
                        required></select></td>

                <td ng-if="vm.inPrescriptionServe"><select id="doseFrequency" ng-model="lineItem.Dispense.doseFrequency"
                        ng-options="frequency for frequency in  vm.dosageFrequency" required></select></td>

                <td ng-if="vm.inPrescriptionServe"><select id="doseRoute" ng-model="lineItem.Dispense.doseRoute" ng-options="route for route in  vm.doseRoute"
                        required></select></td>

                <td ng-if="vm.inPrescriptionServe"><input ng-model="lineItem.Dispense.duration" type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 40px;" 
                        required></td>
                
                <td ng-if="vm.inPrescriptionServe"><select id="durationUnit" ng-model="lineItem.Dispense.durationUnit" ng-options="durationUnit for durationUnit in  vm.durationUnits" 
                    required></select></td>
                
                <td ng-if="vm.inPrescriptionServe"><select id="instruction" ng-model="lineItem.Dispense.instruction" ng-options="instruction for instruction in  vm.instructions" 
                    required></select></td>

                <td ng-if="vm.inPrescriptionServe"><input type="text" ng-model="lineItem.Dispense.additionalInstruction"></input></td>
                
                <td><input ng-model="lineItem.quantityPrescribed" type="number" min="0" step="1" oninput="validity.valid||(value='');" 
                    required></td>

                <td ng-if="vm.inPrescriptionServe"><input ng-model="lineItem.Dispense.quantityDispensed" type="number" min="0" step="1" oninput="validity.valid||(value='');" required/>
                </td> 
                <td ng-if="vm.inPrescriptionServe"><input type="checkbox" ng-model="lineItem.Dispense.isInternallyServed"></td>
                <td><input type="text" ng-model="lineItem.Dispense.comments"></input></td>
                <td>
                    <button ng-if="!vm.inPrescriptionServe" type="button" class="danger" ng-click="vm.remove($index)">Remove</button>
                    <button ng-if="vm.inPrescriptionServe" type="button" class="primary" ng-click="vm.substitute(lineItem)">Substitute</button>
                </td>
                
            </tr>
<!-- 
            <tr ng-show="vm.inPrescriptionServe" ng-repeat="lineItem in vm.PrescriptionDetails">
            
                <td>{{lineItem.orderablePrescribedName}}</td>
                <td ng-if="vm.inPrescriptionServe"><select id="substituteProduct" ng-model="vm.selectedSubstituteProduct" 
                    ng-options="orderableGroup[0].orderable.fullProductName for orderableGroup in vm.orderableGroups"
                    ng-disabled="!vm.substituteProduct"></select></td>
                <td>{{lineItem.batchNumber}}</td>
                <td>{{lineItem.expiryDate}}</td>
                <td>{{lineItem.soh}}</td>
                <td ng-if="vm.inPrescriptionServe"><input ng-model="lineItem.Dispense.dose" class="form-control" type="number" min="0" step="1"
                        oninput="validity.valid||(value='');" required></td>

               <td ng-if="vm.inPrescriptionServe"><select id="dispensingUnit" ng-model="lineItem.Dispense.doseUnit" ng-options="unit for unit in vm.dispensingUnits"
                        required></select></td>

                <td ng-if="vm.inPrescriptionServe"><select id="doseFrequency" ng-model="lineItem.Dispense.doseFrequency"
                        ng-options="frequency for frequency in  vm.dosageFrequency" required></select></td>

                <td ng-if="vm.inPrescriptionServe"><select id="doseRoute" ng-model="lineItem.Dispense.doseRoute" ng-options="route for route in  vm.doseRoute"
                        required></select></td>

                <td ng-if="vm.inPrescriptionServe"><input ng-model="lineItem.Dispense.duration" type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 40px;" 
                        required></td>
                
                <td ng-if="vm.inPrescriptionServe"><select id="durationUnit" ng-model="lineItem.Dispense.durationUnit" ng-options="durationUnit for durationUnit in  vm.durationUnits" 
                    required></select></td>
                
                <td ng-if="vm.inPrescriptionServe"><select id="instruction" ng-model="lineItem.Dispense.instruction" ng-options="instruction for instruction in  vm.instructions" 
                    required></select></td>

                <td ng-if="vm.inPrescriptionServe"><input type="text" ng-model="lineItem.Dispense.additionalInstruction"></input></td>
                
                <td><input ng-model="lineItem.quantityPrescribed" type="number" min="0" step="1" oninput="validity.valid||(value='');" 
                    required></td>

                <td ng-if="vm.inPrescriptionServe"><input ng-model="lineItem.Dispense.quantityDispensed" type="number" min="0" step="1" oninput="validity.valid||(value='');" required/>
                </td> 
                <td ng-if="vm.inPrescriptionServe"><input type="checkbox" ng-model="lineItem.Dispense.isInternallyServed"></td>
                <td><input type="text" ng-model="lineItem.Dispense.comments"></input></td>
                <td>
                    <button ng-if="!vm.inPrescriptionServe" type="button" class="danger" ng-click="vm.remove($index)">Remove</button>
                    <button ng-if="vm.inPrescriptionServe" type="button" class="primary" ng-click="vm.substitute(lineItem)">Substitute</button>
                </td>
                 -->
            </tr>


        </tbody>
    </table>
</section>
<!-- </section> -->

<div class="openlmis-toolbar">
    <button ui-sref="^">{{'dispensingPrescriptionForm.cancel' | message}}</button>
    <div class="button-group primary">
        <button ng-if="!vm.inPrescriptionServe" class="primary" form="newPrescriptionForm" ng-click="vm.createPrescrition()">{{(vm.updateMode ?
            'dispensingPrescriptionForm.updatePrescription' : 'dispensingPrescriptionForm.createPrescription') |
            message}}</button>
        <!-- <button ng-if="vm.updateMode && vm.pendingVerificationEmail" ng-click="vm.sendVerificationEmail()">{{
            'dispensingPrescriptionForm.sendVerificationEmail' | message }}</button> -->
        <button ng-if="vm.inPrescriptionServe" type="button" class="primary" ng-click="vm.servePrescription()">Serve</button>
    </div>
</div>