<h2>{{'dispensingPrescriptionForm.title' | message}}</h2>

<form class="sidebar">

    <fieldset class="form-group">
        <label for="lastName">Status</label>
        <input class="form-control" type="text" ng-model="vm.prescription.status" disabled>
    </fieldset>
    <fieldset class="form-group">
        <label for="PrescriptionNumber">Follow up date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate1"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset>
    <fieldset class="form-group">
        <label for="firstName">Created date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate2"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset>
    <fieldset class="form-group">
        <legend>Patient type</legend>
        <label class="radio">
            <input type="radio" ng-model="vm.Prescription.sex"
                ng-value="true" required/>
            In Patient
        </label>
        <label class="radio">
            <input type="radio" ng-model="vm.Prescription.sex"
                ng-value="false" required/>
            Out Patient
        </label>
    </fieldset>
    <!-- <fieldset class="form-group">
        <label for="nationalID">Dispensing date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate3"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset> -->

    
    <!-- <fieldset class="form-group">
        <label for="nickName">Captured date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset> -->
    <!-- <fieldset class="form-group">
        <label>
            <input type="checkbox" ng-model="vm.Prescription.allowNotify"/>
            Voided
        </label>
    </fieldset> -->
</form>

<!-- <section id="newPrescriptionForm"> -->
    <section class="openlmis-table-container">
        <section class="is-primary">
            <form class="form-inline" name="productForm">
                <button type="button" ng-click="vm.addContact()" class="add">Add Product</button>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <thead>
                <tr>
                    <th>{{'dispensingPrescriptionForm.prescribedProduct' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.substituteProduct' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.batchNumber' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.dose' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.doseUnits' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.frequency' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.route' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.duration' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.durationUnits' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.instructions' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.additionalInstructions' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.quantityPrescribed' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.quantityDispensed' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.servedInternally' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.comments' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.action' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in vm.contacts">
                    <td>
                        <label for="contactType">Select Product:</label>
                        <select id="contactType" name="contactType">
                            <!-- <option ng-model="contact.email" value="email">Abacavier</option>
                            <option ng-model="contact.phone" value="phone">Panado</option>
                            <option ng-model="contact.phone" value="phone">Ibupruffin</option> -->
                            <option ng-model="contact.phone" value="phone">Alcohol Swabs Consumable 200</option>
                                <option ng-model="contact.phone" value="phone">APTIMA DBS EXTRACTION BUFFER Reagent 1</option>
                                    <option ng-model="contact.phone" value="phone">Abacavir/Lamivudine 120/60 Scored Dispersible Tablets 60</option>
                                        <option ng-model="contact.phone" value="phone">AbX basolyse 1L Reagent 1</option>
                                            <option ng-model="contact.phone" value="phone">AbX Cleaner 1L Reagent 1</option>
                                                <option ng-model="contact.phone" value="phone">AbX diluent 20L Reagent 1</option>
                                                    <option ng-model="contact.phone" value="phone">AbX eosinofix 1L Reagent 1</option>
                                                        <option ng-model="contact.phone" value="phone">AbX Lysebio Reagent 1</option>
                                                            <option ng-model="contact.phone" value="phone">AbX Minoclair 500ml Reagent 1</option>
                                                                <option ng-model="contact.phone" value="phone">Adaptor for 30ml Consumable 20</option>
                                                                    <option ng-model="contact.phone" value="phone">Alere-q HIV 1/2 Detect Cartridges Consumable 50</option>
                                                                        <option ng-model="contact.phone" value="phone">Amphotericin B 50mg Injection 1</option>
                                                                            <option ng-model="contact.phone" value="phone">Amphotericin B 50mg Injection 10</option>
                                                                                <option ng-model="contact.phone" value="phone">APTIMA Assay Fluid AS Kit Consumable 1</option>
                                                                                    <option ng-model="contact.phone" value="phone">APTIMA CAPS AMP/P.R.S Reagent 1</option>
                                                                                        <option ng-model="contact.phone" value="phone">APTIMA HIV Viral Load Assay 100 T Kit Reagent 1</option>
                                                                                            <option ng-model="contact.phone" value="phone">APTIMA HIV VIRAL LOAD CONTROLS Reagent 1</option>
                                                                                                <option ng-model="contact.phone" value="phone">APTIMA LBLD Advanced Cleaning Solution 225ml Consumable 1</option>
                                                                                                    <option ng-model="contact.phone" value="phone">APTIMA MISC Universal TB Plug Yellow Consumable 100</option>
                                                                                                        <option ng-model="contact.phone" value="phone">APTIMA Multi Tube Unit Kit Consumable 1</option>
                        </select>
                    </td>
                    <td>
                        <label for="contactType">Select Substitute Product:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.phon" value="phone"> </option>
                            <!-- <option ng-model="contact.email" value="email">Abacavier</option>
                            <option ng-model="contact.phone" value="phone">Panado</option>
                            <option ng-model="contact.phone" value="phone">Ibupruffin</option> -->
                            <option ng-model="contact.phone" value="phone">Alcohol Swabs Consumable 200</option>
                                <option ng-model="contact.phone" value="phone">APTIMA DBS EXTRACTION BUFFER Reagent 1</option>
                                    <option ng-model="contact.phone" value="phone">Abacavir/Lamivudine 120/60 Scored Dispersible Tablets 60</option>
                                        <option ng-model="contact.phone" value="phone">AbX basolyse 1L Reagent 1</option>
                                            <option ng-model="contact.phone" value="phone">AbX Cleaner 1L Reagent 1</option>
                                                <option ng-model="contact.phone" value="phone">AbX diluent 20L Reagent 1</option>
                                                    <option ng-model="contact.phone" value="phone">AbX eosinofix 1L Reagent 1</option>
                                                        <option ng-model="contact.phone" value="phone">AbX Lysebio Reagent 1</option>
                                                            <option ng-model="contact.phone" value="phone">AbX Minoclair 500ml Reagent 1</option>
                                                                <option ng-model="contact.phone" value="phone">Adaptor for 30ml Consumable 20</option>
                                                                    <option ng-model="contact.phone" value="phone">Alere-q HIV 1/2 Detect Cartridges Consumable 50</option>
                                                                        <option ng-model="contact.phone" value="phone">Amphotericin B 50mg Injection 1</option>
                                                                            <option ng-model="contact.phone" value="phone">Amphotericin B 50mg Injection 10</option>
                                                                                <option ng-model="contact.phone" value="phone">APTIMA Assay Fluid AS Kit Consumable 1</option>
                                                                                    <option ng-model="contact.phone" value="phone">APTIMA CAPS AMP/P.R.S Reagent 1</option>
                                                                                        <option ng-model="contact.phone" value="phone">APTIMA HIV Viral Load Assay 100 T Kit Reagent 1</option>
                                                                                            <option ng-model="contact.phone" value="phone">APTIMA HIV VIRAL LOAD CONTROLS Reagent 1</option>
                                                                                                <option ng-model="contact.phone" value="phone">APTIMA LBLD Advanced Cleaning Solution 225ml Consumable 1</option>
                                                                                                    <option ng-model="contact.phone" value="phone">APTIMA MISC Universal TB Plug Yellow Consumable 100</option>
                                                                                                        <option ng-model="contact.phone" value="phone">APTIMA Multi Tube Unit Kit Consumable 1</option>
                        </select>
                    </td>
                    <td>
                        <input id="contact" ng-model="vm.Prescription.contact0" type="text"/>
                    </td>
                    <td>
                        <input type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 40px;"/>
                    </td>

                    <td>
                        <label for="contactType">Select Units:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.phon" value="phone"> </option>
                            <option ng-model="contact.email" value="email">Capsule(s)</option>
                            <option ng-model="contact.phone" value="phone">Tablet(s)</option>
                            <option ng-model="contact.phone" value="phone">ml</option>
                            <option ng-model="contact.phon" value="phone">mg</option>
                            <option ng-model="contact.email" value="email">IU</option>
                            <option ng-model="contact.phone" value="phone">Drop</option>
                            <option ng-model="contact.phone" value="phone">Tablespoon</option>
                            <option ng-model="contact.phon" value="phone">Teaspoon</option>
                            <option ng-model="contact.email" value="email">Unit(s)</option>
                            <option ng-model="contact.phone" value="phone">Puff(s)</option>
                        </select>
                    </td>
                    <td>
                        <label for="contactType">Select Frequency:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.phon" value="phone"> </option>
                            <option ng-model="contact.email" value="email">Immediately</option>
                            <option ng-model="contact.phone" value="phone">Once a day</option>
                            <option ng-model="contact.phone" value="phone">Twice a day</option>
                            <option ng-model="contact.email" value="email">Thrice a aday</option>
                            <option ng-model="contact.phone" value="phone">Every hour</option>
                            <option ng-model="contact.phone" value="phone">Every 2 hours</option>
                            <option ng-model="contact.email" value="email">Every 3 hours</option>
                            <option ng-model="contact.email" value="email">Every 4 hours</option>
                            <option ng-model="contact.email" value="email">Every 6 hours</option>
                            <option ng-model="contact.email" value="email">Every 8 hours</option>
                            <option ng-model="contact.email" value="email">Every 12 hours</option>
                            <option ng-model="contact.phone" value="phone">On alternate days</option>
                            <option ng-model="contact.phone" value="phone">Once a week</option>
                            <option ng-model="contact.email" value="email">Twice a week</option>
                            <option ng-model="contact.phone" value="phone">Thrice a week</option>
                            <option ng-model="contact.phone" value="phone">Every 2 weeks</option>
                            <option ng-model="contact.email" value="email">Every 3 weeks</option>
                            <option ng-model="contact.phone" value="phone">Once a month</option>
                            <option ng-model="contact.phone" value="phone">5 times a day</option>
                            <option ng-model="contact.email" value="email">4 days a week</option>
                            <option ng-model="contact.email" value="email">5 days a week</option>
                            <option ng-model="contact.email" value="email">6 days a week</option>
                        </select>
                    </td>
                    <td>
                        <label for="contactType">Select Route:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.phon" value="phone"> </option>
                            <option ng-model="contact.email" value="email">Intramuscular</option>
                            <option ng-model="contact.phone" value="phone">Intravenous</option>
                            <option ng-model="contact.phone" value="phone">Oral</option>
                            <option ng-model="contact.email" value="email">Per Vaginal</option>
                            <option ng-model="contact.phone" value="phone">Sub Cutaneous</option>
                            <option ng-model="contact.phone" value="phone">Per Rectum</option>
                            <option ng-model="contact.email" value="email">Sub Lingual</option>
                            <option ng-model="contact.phone" value="phone">Nasogastric</option>
                            <option ng-model="contact.phone" value="phone">Intradermal</option>
                            <option ng-model="contact.email" value="email">Intraperitoneal</option>
                            <option ng-model="contact.phone" value="phone">Intrathecal</option>
                            <option ng-model="contact.phone" value="phone">Intraosseous</option>
                            <option ng-model="contact.email" value="email">Topical</option>
                            <option ng-model="contact.phone" value="phone">Nasal</option>
                            <option ng-model="contact.phone" value="phone">Inhalation</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 40px;"/>
                    </td>
                    <td>
                        <label for="contactType">Select Duration Units:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.phon" value="phone"> </option>
                            <option ng-model="contact.email" value="email">Day(s)</option>
                            <option ng-model="contact.phone" value="phone">Weeks(s)</option>
                            <option ng-model="contact.phone" value="phone">Month(s)</option>
                        </select>
                    </td>

                    <td>
                        <label for="contactType">Select Instructions:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.phon" value="phone"> </option>
                            <option ng-model="contact.email" value="email">Before meals</option>
                            <option ng-model="contact.phone" value="phone">Empty stomach</option>
                            <option ng-model="contact.phone" value="phone">In the morning</option>
                            <option ng-model="contact.email" value="email">In the evening</option>
                            <option ng-model="contact.phone" value="phone">At bedtime</option>
                            <option ng-model="contact.phone" value="phone">Immediately</option>
                            <option ng-model="contact.email" value="email">As directed</option>
                        </select>
                    </td>
                    <td>
                        <input id="contact" ng-model="vm.Prescription.contact2" type="text" style="width: 120px;"/>
                    </td>
                    <td>
                        <input type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 50px;"/>
                    </td>
                    <td>
                        <input type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 50px;"/>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.Prescription.allowNotify"/>
                    </td>
                    <td>
                        <input id="contact" ng-model="vm.Prescription.contact3" type="text" style="width: 120px;"/>
                    </td>
                    <td>
                        <button type="button" class="danger" ng-click="removeContact($index)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
<!-- </section> -->

<div class="openlmis-toolbar">
    <button ui-sref="^">{{'dispensingPrescriptionForm.cancel' | message}}</button>
    <div class="button-group primary">
        <button class="primary" form="newPrescriptionForm" type="submit">{{(vm.updateMode ? 'dispensingPrescriptionForm.updatePrescription' : 'dispensingPrescriptionForm.createPrescription') | message}}</button>
        <button ng-if="vm.updateMode && vm.pendingVerificationEmail" ng-click="vm.sendVerificationEmail()">{{ 'dispensingPrescriptionForm.sendVerificationEmail' | message }}</button>
    </div>
</div>
