<h2>{{'dispensingPrescriptionForm.title' | message}}</h2>

<form class="sidebar">

    <fieldset class="form-group">
        <label for="lastName">{{'dispensingPrescriptionForm.status' | message}}</label>
        <input class="form-control" type="text" disabled>
    </fieldset>
    <fieldset class="form-group">
        <label for="PrescriptionNumber">{{'dispensingPrescriptionForm.followupDate' | message}}</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset>
    <fieldset class="form-group">
        <label for="firstName">{{'dispensingPrescriptionForm.createdDate' | message}}</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset>
    <fieldset class="form-group">
        <legend>{{'dispensingPrescriptionForm.patientType' | message}}</legend>
        <label class="radio">
            <input type="radio" ng-model="vm.Prescription.sex"
                ng-value="true" required/>
            In Patient
        </label>
        <label class="radio">
            <input type="radio" ng-model="vm.Prescription.sex"
                ng-value="false" required/>
            Out Patient
        </label>
    </fieldset>
    <fieldset class="form-group">
        <label for="nationalID">{{'dispensingPrescriptionForm.dispensingDate' | message}}</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset>
    <!-- <fieldset class="form-group">
        <label for="nickName">Captured date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate"
            ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    </fieldset> -->
    <!-- <fieldset class="form-group">
        <label>
            <input type="checkbox" ng-model="vm.Prescription.allowNotify"/>
            Voided
        </label>
    </fieldset> -->
</form>

<!-- <section id="newPrescriptionForm"> -->
    <section class="openlmis-table-container">
        <section class="is-primary">
            <form class="form-inline" name="productForm">
                <button type="button" ng-click="vm.addPrescription()" class="add">{{'dispensingPrescriptionForm.addProduct' | message}}</button>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <thead>
                <tr>
                    <th>{{'dispensingPrescriptionForm.prescribedProduct' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.substituteProduct' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.batchNumber' | message}}</th>

                    <th>{{'dispensingPrescriptionForm.prescriptionsDetails' | message}}</th>

                    

                    <th>{{'dispensingPrescriptionForm.quantityPrescribed' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.quantityDispensed' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.servedInternally' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.comments' | message}}</th>
                    <th>{{'dispensingPrescriptionForm.action' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prescription in vm.prescriptions">
                    <td>
                        <label for="contactType">Select Product:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.email" value="email">Abacavier</option>
                            <option ng-model="contact.phone" value="phone">Panado</option>
                            <option ng-model="contact.phone" value="phone">Ibupruffin</option>
                        </select>
                    </td>
                    <td>
                        <label for="contactType">Select Substitute Product:</label>
                        <select id="contactType" name="contactType">
                            <option ng-model="contact.phon" value="phone"> </option>
                            <option ng-model="contact.email" value="email">Abacavier</option>
                            <option ng-model="contact.phone" value="phone">Panado</option>
                            <option ng-model="contact.phone" value="phone">Ibupruffin</option>
                        </select>
                    </td>
                    <td>
                        <input id="contact" ng-model="vm.Prescription.contact" type="text"/>
                    </td>

                    <td><button type="button" ng-click="vm.addDiscrepancyOnModal('carton')" class="add" >{{'dispensingPrescriptionForm.add'| message}}</button></td>

                    
                    
                    <td>
                        <input type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 50px;"/>
                    </td>
                    <td>
                        <input type="number" min="0" step="1" oninput="validity.valid||(value='');" style="width: 50px;"/>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.Prescription.allowNotify"/>
                    </td>
                    <td>
                        <input id="contact" ng-model="vm.Prescription.contact" type="text" style="width: 120px;"/>
                    </td>
                    <td>
                        <button type="button" ng-click="removePrescription($index)" class="danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
<!-- </section> -->

<div class="openlmis-toolbar">
    <button ui-sref="^">{{'dispensingPrescriptionForm.cancel' | message}}</button>
    <div class="button-group primary">
        <button class="primary" form="newPrescriptionForm" type="submit">{{(vm.updateMode ? 'dispensingPrescriptionForm.updatePrescription' : 'dispensingPrescriptionForm.createPrescription') | message}}</button>
        <button ng-if="vm.updateMode && vm.pendingVerificationEmail" ng-click="vm.sendVerificationEmail()">{{ 'dispensingPrescriptionForm.sendVerificationEmail' | message }}</button>
    </div>
</div>
