<div class="openlmis-toolbar" ng-hide='vm.prepack.status === "Authorised" || vm.prepack.status === "Cancelled"' >
  <div class="button-group">
    <button class="danger" ng-disabled="!vm.prepackLineItems.length" ng-click="vm.removeDisplayItems()">
      {{'prepackingDetails.clear'|message}}
    </button>
  </div>
  <button class="primary" ng-class="{'is-offline':vm.offline()}"  ng-click="vm.authorisePrepack()">
    {{'prepackingDetails.authorise'|message}}
  </button>
  <button class="primary" ng-class="{'is-offline':vm.offline()}" ng-disabled="!vm.prepackLineItems.length" ng-click="vm.submit()">
    {{'prepackingDetails.cancel'|message}}
  </button>
</div>
