<h2>{{'dispensingPrescriptionsCreate.title' | message}}</h2>

<aside class="stock-card-info">
    <div class="product-name-header">
        <span>{{vm.patient.personDto.firstName}} {{vm.patient.personDto.lastName}}</span>
    </div>

    <ul>
        <li>
            <strong>Sex</strong>
                {{vm.patient.personDto.sex}}
            </li>
            <li>
                <strong>Age</strong>
                {{vm.age}}
            </li>
            <li>
                <strong>Height (cm)</strong>
                {{vm.height}}
            </li>
            <li>
                <strong>Weight (kg)</strong>
                {{vm.weight}}
            </li>
            <li>
                <strong>BMI</strong>
                {{ vm.weight / ((vm.height/100)*(vm.height/100)) }}
            </li>
            <!-- <li ng-if="vm.stockCard.lot">
                <strong>BMI Status</strong>
                {{vm.patient.BMIStatus}}
            </li> -->
            <li>
                <strong>TB Status</strong>
                {{vm.TBStatus}}
            </li>
            <li>
                <strong>BP</strong>
                {{ vm.diastolic + ((1/3)*(vm.systolic - vm.diastolic)) }}
            </li>
            <!-- <li>
                <strong>Medical History</strong>
                <button ng-click="vm.getMedicalHistory()">View</button>
            </li> -->
            <!-- <li>
                <strong>Prescription Status</strong>
                {{vm.prescription.status}}
            </li> -->
    </ul>
</aside>

<form class="sidebar" ng-submit="vm.createPrescrition()">

    <fieldset class="form-group">
        <label for="createdDate">Created date</label>
        <input id="createdDate" type="date" style="width: 90px;" ng-model="vm.prescriptionDetails.createdDate"
            max-date="vm.maxDate" required ng-disabled="vm.inPrescriptionServe" />
    </fieldset>

    <fieldset ng-if="vm.inPrescriptionServe" class="form-group">
        <label for="nationalID">Dispensing date</label>
        <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="vm.prescriptionDetails.issueDate"
            required />
        <span ng-show="followUpDateForm.followUpDate.$error.min && !vm.inPrescriptionServe" class="text-danger">
            Follow-up date must be from tomorrow onwards.
        </span>
    </fieldset>

    <fieldset class="form-group">
        <label for="followUpDate">Follow up date</label>
        <input id="followUpDate" type="date" style="width: 90px;" ng-model="vm.prescriptionDetails.followUpDate"
            max-date="vm.maxDate" ng-disabled="vm.inPrescriptionServe" />
    </fieldset>

    <fieldset class="form-group">
        <legend>Patient type</legend>
        <label class="radio">
            <input type="radio" ng-model="vm.prescriptionDetails.patientType" ng-value="true" required
                ng-disabled="vm.inPrescriptionServe" />
            In Patient
        </label>
        <label class="radio">
            <input type="radio" ng-model="vm.prescriptionDetails.patientType" ng-value="false" required
                ng-disabled="vm.inPrescriptionServe" />
            Out Patient
        </label>
    </fieldset>
</form>

<section class="openlmis-table-container">
    <section class="is-primary">
        <form ng-if="!vm.inPrescriptionServe" class="form-inline" name="productForm" ng-submit="vm.addProduct()">
            <div>
                <label for="productSelect">Product</label>
                <select id="productSelect" ng-model="vm.selectedProduct"
                    ng-options="product.fullProductName for product in vm.allProducts" required></select>
            </div>
            <button type="submit" class="add">Add Product</button>
        </form>
    </section>
    <table suppress-tr-openlmis-invalid>
        <thead>
            <tr>
                <th>{{'dispensingPrescriptionsCreate.prescribedProduct' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.dose' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.doseUnits' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.frequency' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.route' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.duration' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.durationUnits' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.quantityPrescribed' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.comments' | message}}</th>
                <th>{{'dispensingPrescriptionsCreate.action' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lineItem in vm.prescriptionLineItems">

                <td>{{lineItem.fullProductName}}</td>
                <td><input ng-model="lineItem.dose" class="form-control" type="number" required style="width: 40px;">
                </td>

                <td><select id="dispensingUnit" ng-model="lineItem.doseUnits"
                        ng-options="unit for unit in vm.dispensingUnits" required></select></td>

                <td><select id="doseFrequency" ng-model="lineItem.doseFrequency"
                        ng-options="frequency for frequency in  vm.dosageFrequency" required></select></td>

                <td><select id="doseRoute" ng-model="lineItem.route" ng-options="route for route in  vm.doseRoute"
                        required></select></td>

                <td><input ng-model="lineItem.duration" type="number" min="0" step="1"
                        oninput="validity.valid||(value='');" style="width: 40px;" required></td>

                <td><select id="durationUnit" ng-model="lineItem.durationUnits"
                        ng-options="durationUnit for durationUnit in  vm.durationUnits" required></select></td>

                <td><input ng-model="lineItem.quantityPrescribed" type="number" min="0" step="1"
                        oninput="validity.valid||(value='');" style="width: 40px;" required></td>

                <td><input type="text" ng-model="lineItem.comments"></input></td>
                <td ng-if="!vm.inPrescriptionServe">
                    <button type="button" class="danger" ng-click="vm.remove($index)">Remove</button>
                </td>

            </tr>
        </tbody>
    </table>
</section>


<div class="openlmis-toolbar">
    <button ui-sref="^">{{'dispensingPrescriptionsCreate.cancel' | message}}</button>
    <div class="button-group primary">
        <button ng-if="!vm.inPrescriptionServe" class="primary" form="newPrescriptionForm"
            ng-click="vm.createPrescrition()">{{(vm.updateMode ?
            'dispensingPrescriptionsCreate.updatePrescription' : 'dispensingPrescriptionsCreate.createPrescription') |
            message}}</button>
        <!-- <button ng-if="vm.updateMode && vm.pendingVerificationEmail" ng-click="vm.sendVerificationEmail()">{{
            'dispensingPrescriptionsCreate.sendVerificationEmail' | message }}</button> -->
        <button ng-if="vm.inPrescriptionServe" type="button" class="primary"
            ng-click="vm.servePrescription()">Serve</button>
        <!-- <button ng-if="vm.inPrescriptionServe && vm.updateMode" type="button" class="primary" ng-click="vm.updatePrescription()">Update Prescription</button> -->
    </div>
</div>