<!--<h2>{{ 'dispensingPatients.title' | message }}</h2>-->
<h2 ng-if="vm.orderingFacility">{{'orderFulfillment.fulfillOrdersAt' | message: {'facility':  vm.orderingFacility.name} }}</h2>
<h2 ng-if="!vm.orderingFacility">Prescriptions</h2>

<form class="sidebar">
  <label for="orderingFacility">Patient ID</label>
  <input class="form-control" type="text" style="width: 150px;">
  <label>Patient Type</label>
  <input class="form-control" type="text" style="width: 150px;">
  <label>Last Name</label>
  <input class="form-control" type="text" style="width: 150px;">
  <label>First Name</label>
  <input class="form-control" type="text" style="width: 150px;">
  <input type="submit" class="btn btn-primary" value="{{'orderFulfillment.search' | message}}"/>

</form>

<section class="openlmis-table-container">
  <openlmis-sort options="vm.options"/>
  <!-- <form ng-submit="vm.loadOrders()" >
    <label for="orderingFacility">Patient Number</label>
    <input class="form-control" type="text" style="width: 150px;">
    <label>Last Name</label>
    <input class="form-control" type="text" style="width: 150px;">
    <label>First Name</label>
    <input class="form-control" type="text" style="width: 150px;">
    <label>Nation ID Number</label>
    <input class="form-control" type="text" style="width: 150px;">
    <label>Date of Birth</label>
    <input id="lineItem.occurredDate" type="date" style="width: 90px;" ng-model="lineItem.occurredDate"
      ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required inputmode="none"/>
    <label>Contact Number</label>
    <input class="form-control" value="+266 " type="text" style="width: 150px;">
    <input type="submit" class="btn btn-primary" value="{{'orderFulfillment.search' | message}}"/>
  </form> -->
  <section class="is-primary">
    <form class="form-inline" ng-submit="vm.addProduct()" name="productForm">
        <button type="button" ui-sref="openlmis.dispensing.patients.form" class="add">Add Patient</button>
    </form>
  </section>
  <table>
    <caption ng-if="!vm.orders.length">{{'orderFulfillment.noOrdersFound' | message}}</caption>
    <thead>
    <tr>
      <th>Patient Number</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Patient Type</th>
      <th>Follow up Date</th>
      <th>Date Created</th>
      <th>Date Captured</th>
      <th>Issue Date</th>
      <th>Status</th>
      <th class="col-sticky sticky-right">{{'orderFulfillment.actions' | message}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in vm.orders">
      <td class="col-emergency">
        <i ng-class="{'icon-ok': order.emergency}"></i>
      </td>
      <td>{{order.orderCode}}</td>
      <td>{{order.status}}</td>
      <td>{{order.facility | facility}}</td>
      <td>{{order.program.name}}</td>
      <td>{{order.processingPeriod.name}}</td>
      <td>{{order.createdDate | openlmisDate}}</td>
      <td>
        <button ng-if="order.isFulfilling()" ui-sref="openlmis.orders.shipmentView({id: order.id})">
          {{'orderFulfillment.continueFulfillment' | message}}
        </button>
        <button ng-if="!order.isFulfilling()" ui-sref="openlmis.orders.shipmentView({id: order.id})">
          {{'orderFulfillment.startFulfillment' | message}}
        </button>
      </td>
    </tr>

    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>
        <button type="button" class="btn btn-primary add" ui-sref="openlmis.dispensing.prescriptions.form">
          Add prescription
        </button>
        <button class="btn btn-primary" ui-sref="openlmis.dispensing.prescriptions.form">
          View prescription
        </button>
      </td>
    </tr>

    </tbody>
  </table>
  <openlmis-pagination/>
</section>