<h2>{{ 'pointOfDeliveryManage.title' | message }}</h2>

<form class="sidebar" ng-submit="vm.loadOrders()">
    <fieldset class="form-group">
        <label for="receivingFacility">{{'proofOfDeliveryManage.receivingFacility' | message}}</label>
        <select id="receivingFacility"
                ng-model="vm.receivingFacility"
                ng-required="!vm.supplyingFacility"
                ng-options="facility.name for facility in vm.homeFacilities"></select>
    </fieldset>
    <fieldset class="form-group">
        <label for="supplyingFacility">{{'proofOfDeliveryManage.supplyingFacility' | message}}</label>
        <select id="supplyingFacility"
                ng-model="vm.supplyingFacility"
                ng-required="!vm.requestingFacility"
                ng-options="facility.name for facility in vm.supplyingFacilities | orderBy:'name'"></select>
    </fieldset>
</form>
<form name="podManageForm" class="content" ng-submit="vm.submitPOD()" openlmis-table-filter>
    <fieldset class="form-group">
        <Fieldset>
            <label for="referenceNo">{{'pointOfDeliveryManage.referenceNo' | message}}</label>
            <input id="referenceNo" type="text" ng-model="vm.POD.referenceNo" maxlength="50"/>
        </Fieldset>
        
         <Fieldset>
            <label for="receivedDate">{{'pointOfDeliveryManage.packingDate' | message}}</label>
            <input id="receivedDate" type="date" ng-model="vm.proofOfDelivery.receivedDate" required/>
         </Fieldset>      
        
        <Fieldset>
            <label for="packedBy">{{'pointOfDeliveryManage.packedBy' | message}}</label>
            <input id="packedBy" type="text" ng-model="vm.POD.packedBy" maxlength="50"/>
        </Fieldset>
        
        <Fieldset>
            <label for="numberOfCartons">{{'pointOfDeliveryManage.numberOfCartons' | message}}</label>
            <input id="numberOfCartons" type="text" ng-model="vm.POD.numberOfCartons" maxlength="50"/>
        </Fieldset>
        
        <Fieldset>
            <label for="numberOfContainers">{{'pointOfDeliveryManage.numberOfContainers' | message}}</label>
            <input id="numberOfContainers" type="text" ng-model="vm.POD.numberOfContainers" maxlength="50"/>
        </Fieldset>
                
        <Fieldset>
            <label for="remarks">{{'pointOfDeliveryManage.remarks' | message}}</label>
            <textarea id="remarks" type="text" ng-model="vm.POD.remarks" rows="3" cols="50"></textarea>
        </Fieldset>      
        
        <input type="submit" value="{{'pointOfDeliveryManage.submit' | message}}"/>
                
    </fieldset>
</form>

