<h2>Quality Checks<!-- {{'pointOfDeliveryView.deliveriesAt' | message: {'facility':  vm.receivingFacility} }} --></h2>

<form class="sidebar" ng-submit="vm.loadOrders()">
    <fieldset class="form-group">
        <label for="isShipmentOkaySpan">Delivered supplies in good condition with correct documentation?</label>
        <span id = "isShipmentOkaySpan">
            <label>
                <input type="radio" ng-model = 'vm.isShipmentOkay' name="isShipmentOkay" value="Yes">
                Yes
              </label>
              </br>
              <label>
                <input type="radio" ng-model = 'vm.isShipmentOkay' name="isShipmentOkay" value="No">
                No
              </label>
        </span>
    </fieldset>
</form>

<div class="stock-adjustment-creation">
    <section class="openlmis-table-container">
        <section class="is-primary">
            <form class="form-inline" ng-submit="vm.addDispency()" name="productForm">
                <div>
                    <label for="discrepancySelect">Add discrepancy</label>
                    <select id="discrepancySelect" ng-model="vm.selectedDiscrepancy"
                        ng-change="vm.discrepancySelectionChanged()"
                        ng-options="discrepancy for discrepancy in vm.discrepancyOptions"
                        required>
                    </select>
                </div>
                <button type="submit" class="add">Add</button>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.discrepancies.length">No Discrepancies</caption>
            <thead>
                <tr>
                    <th>Discrepancy</th>
                    <th>Quantity</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="discrepancy in vm.discrepancies">
                    <td>{{discrepancy.name}}</td>
                    <td><input type="number" type="number" min="0" step="1" oninput="validity.valid||(value='');" value=" " length="10"></td>
                    <td><input type="text" value=" " length="70"></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<ng-include src="'point-of-delivery-quality-checks/point-of-delivery-toolbar.html'"></ng-include>